:root{
    --bigger_size:72px;
    --descript_size:24px;
    --smaller_size:36px;
}

.to_center{
    position:fixed;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:auto;
}

.top_used{
    font-size:var(--bigger_size);
    left:50%;
    transform:translate(-50%);
}

.topic_description{
    font-size:var(--descript_size);
    color:#7F7F7F;
}

.center_used{
    font-size:var(--smaller_size);
    color:#FFFFFF;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.to_my_Youtube_channel_used{
    background-color:#FFFFFF;
    color:#000000;
    font-size:var(--descript_size);
}

.to_my_Youtube_channel_used:hover{
    background-color:#CFCFCF;
}

.to_my_Youtube_channel_used:active{
    background-color:#7F7F7F;
}
