:root{
    --bigger_size:72px;
    --smaller_size:36px;
}

.to_center{
    position:fixed;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:auto;
}

.top_used{
    font-size:var(--bigger_size);
    left:50%;
    transform:translate(-50%);
}

.center_used{
    font-size:var(--smaller_size);
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
