:root{
    --topic_block_width:660px;
    --topic_block_height:100px;
    
    --topic_size:48px;
    --topic_description_size:20px;
    
    --left_block_width:280px;
    --left_block_height:300px;
    --self_introduction_size:30px;
    --left_topic_size:24px;
    --left_description_size:16px;
    
    --main_text_style:"Noto Sans TC Black",sans-serif;
    --description_text_style:"Noto Sans TC",sans-serif;
}

.to_center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transform:translate(-50%);
}

.all_used{
    white-space:nowrap;
}

.topic_block_used{
    position:50%;
    left:50%;
    width:var(--topic_block_width);
    height:var(--topic_block_height);
    background-color:#000000;
    border-radius:5%;
    border:3px solid #FFFFFF;
}

.topic_used{
    position:absolute;
    left:50%;
    font-family:var(--main_text_style);
    font-size:var(--topic_size);
}

.left_zone_used{
    position:absolute;
    left:5%;
    top:25%;
    width:var(--left_block_width);
    height:var(--left_block_height);
    background-color:#000000;
    border:3px solid #FFFFFF;
}

.self_introduction_used{
    font-family:var(--main_text_style);
    font-size:var(--self_introduction_size);
    color:#7F00CF;
}

menu left_topic_used{
    font-family:var(--main_text_style);
    font-size:var(--left_topic_size);
    color:#007FFF;
}

.left_description_used{
    font-family:var(--description_text_style);
    font-size:var(--left_description_size);
    color:#DFDFDF;
}

.announce_block_used{
    position:fixed;
    left:50%;
    top:25%;
    transform:translate(-50%);
    width:5%;
    height:5%;
    background-color:#000000;
    border-radius:5%;
    border:3px solid #FFFFFF;
}

.announce_block_text_used{
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:#FFFFFF;
}

.announce_used{
    position:relative;
    left:50%;
    top:50%;
    white-space:nowrap;
    opacity:0;
    transition: opacity 0.3s;
    visibility:hidden;
    color:#FFFFFF;
}

.announce_block_used:focus .announce_used{
    position:relative;
    top:120%;
    opacity:1;
    visibility:visible;
    color:#FFFFFF;
}

.to_my_Youtube_channel_used{
    color:#00CF7F;
    font-size:var(--description_size);
}

.to_my_Youtube_channel_used:hover{
    color:#0FCFAF;
}

.to_my_Youtube_channel_used:active{
    color:#00CF4F;
}
