:root{
    --overall_block_radius:20px;
    
    --topic_block_width:100%;
    --topic_block_height:100px;
    
    --topic_size:48px;
    --topic_description_size:20px;
    
    --content_block_width:70%;
    --content_block_height:300px;
    --content_block_margin:10px;

    --subcontent_block_width:80%;
    --subcontent_block_height:1.6em;
    --subcontent_block_margin:10px;
    --self_introduction_size:30px;
    --content_topic_size:24px;
    --content_description_size:16px;
    
    --main_text_style:"Noto Sans TC Black",sans-serif;
    --description_text_style:"Noto Sans TC",sans-serif;
}

.to_center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transform:translate(-50%);
}

.all_used{
    position:absolute;
    display:flex;
    flex-wrap:wrap;
    white-space:nowrap;
}

.topic_block_used{
    position:relative;
    left:50%;
    width:var(--topic_block_width);
    height:var(--topic_block_height);
    border-radius:var(--overall_block_radius);
    background-color:#222222;
}

.topic_used{
    position:relative;
    left:50%;
    font-family:var(--main_text_style);
    font-size:var(--topic_size);
}

.content_block_used{
    position:relative;
    top:25%;
    width:var(--content_block_width);
    height:var(--content_block_height);
    margin:var(--content_block_margin);
    border-radius:var(--overall_block_radius);
    background-color:#222222;
}

.subcontent_block_used_0, .subcontent_block_used_1{
    position:relative;
    width:var(--subcontent_block_width);
    height:var(--subcontent_block_height);
    border-radius:var(--overall_block_radius);
    background-color:#333333;
    margin:var(--subcontent_block_margin);
}

.self_introduction_used{
    position:relative;
    font-family:var(--main_text_style);
    font-size:var(--self_introduction_size);
    color:#7F00CF;
}

.content_topic_used{
    position:relative;
    margin:0;
    padding:0;
    font-family:var(--main_text_style);
    font-size:var(--content_topic_size);
    color:#007FFF;
}

.content_description_used{
    display:none;
    font-family:var(--description_text_style);
    font-size:var(--content_description_size);
    background-color:#222222;
    color:#DFDFDF;
}

.subcontent_block_used_1:hover > .content_description_used{
    display:block;
}

.announce_block_used{
    position:relative;
    top:25%;
    width:12.5%;
    height:12.5%;
    background-color:#222222;
    border-radius:var(--overall_block_radius);
    border:3px solid #FFFFFF;
}

.announce_block_text_used{
    position:relative;
    left:0;
    top:20%;
    transform:translate(-50%,-50%);
    color:#FFFFFF;
}

.announce_used{
    position:relative;
    white-space:nowrap;
    opacity:0;
    transition:opacity 0.3s;
    visibility:hidden;
    color:#FFFFFF;
}

.announce_block_used:focus .announce_used{
    position:relative;
    top:120%;
    opacity:1;
    visibility:visible;
    color:#FFFFFF;
}

.to_my_Youtube_channel_used{
    color:#00CF7F;
    font-size:var(--description_size);
}

.to_my_Youtube_channel_used:hover{
    color:#0FCFAF;
}

.to_my_Youtube_channel_used:active{
    color:#00CF4F;
}
