.to_center{
    font-size:25px;
    width:500px;
    height:25vh;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}
