.to_center{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

button{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-size:50px;
    background-color:#7F7F7F;
    color:#AFAFAF;
}
