:root{
    --topic_block_width:660px;
    --topic_block_height:100px;
    
    --topic_size:48px;
    --general_text_size:20px;
    
    --main_text_style:"Noto Sans TC Black",sans-serif;
    --description_text_style:"Noto Sans TC",sans-serif;
}

.to_center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transform:translate(-50%);
}

.all_used{
    white-space:nowrap;
}

.topic_block_used{
    left:calc( calc( var(--left_block_width) + 60px ) + calc( var(--topic_block_width) / 2 ) );
    width:var(--topic_block_width);
    height:var(--topic_block_height);
    background-color:#000000;
    border-radius:5%;
    border:3px solid #FFFFFF;
}

.topic_used{
    position:absolute;
    left:calc( calc( var(--left_block_width) + 60px ) + calc( var(--topic_block_width) / 2 ) );
    font-family:var(--main_text_style);
    font-size:var(--topic_size);
}

description_overall_used{
    position:absolute;
    left:calc( calc( var(--left_block_width) + 60px ) + calc( var(--topic_block_width) / 2 ) );
    top:calc( var(--topic_block_height) + 30px );
}

description_used{
    font-family:var(--description_text_style);
    font-size:var(--topic_description_size);
    color:#7F7F7F;
}

.to_my_Youtube_channel_used:active{
    color:#00CF4F;
}
